<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2 class="text-center">Welcome to Math Quiz</h2>
    <p>
        This is a Math Quiz app that will help you learn basics about Mathematics in an easy and enjoyable way.
    </p>
    <p>Choose the math operation that you want to tackle!</p>
    <button class="button button-balanced buttonDash" ng-click="operation('Addition')">Addition</button>
    <button class="button button-balanced buttonDash" ng-click="operation('Subtraction')">Subtraction</button><br><br>
    <button class="button button-balanced buttonDash" ng-click="operation('Multiplication')">Multiplication</button>
    <button class="button button-balanced buttonDash" ng-click="operation('Remainder')">Remainder</button>
  </ion-content>
</ion-view>
